<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My first react app!</title>
    </head>
    <body>
        <div id="root">
        </div>
        <h2>Why the fuck is this component is not rendering</h2>
        <script src="/bundle.js" charset="utf-8"></script>
    </body>
</html>
